@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";
@tailwind utilities;

@layer utilities {

  /* THIS IS FOR THE REGISTRATION/LOGIN PAGES*/
  .form-label {
    @apply text-wiseOffWhite 
    text-base 
    font-semibold 
    font-lato 
  }

  .form-control {
    @apply 
      text-wiseOffWhite
      p-1
      border-b 
      border-wiseSkin 
      font-lato
      rounded-sm
      hover:bg-wiseSkin/20
      hover:shadow-xl/50
      focus:shadow-xl/100
      focus:bg-wiseSkin/20 
      focus:outline-wiseDarkPink
  }

  .register-login-components {
    @apply h-screen 
      bg-bgMain 
      flex 
      justify-center 
      items-center 
      bg-[url('/assets/wise_people_grid_3.webp')] 
      bg-contain
      relative
  }

  .form-dropDown-button {
    @apply
      cursor-pointer 

      relative
      w-full
      p-2 

      text-bgMain 
      font-bold 
      text-xl

      border-b 
      border-wisePaleGrey

      before:transition-all
      before:delay-75
      before:duration-300
      before:ease-in-out
      before:absolute
      before:inset-0
      before:bg-linear-to-t
      before:from-wiseSkin/30
      before:from-10%
      before:to-wiseOffWhite
      before:opacity-0

      transition 
      delay-75 
      duration-300
      ease-in-out 
      hover:border-bgMain 
      hover:before:opacity-100
      hover:scale-105
  }

  .nav-item {
    @apply 
      text-wiseOffWhite
        font-lato
        font-bold
        relative
        text-2xl 
        cursor-pointer
        transition
        delay-75
        duration-200
        hover:scale-115
        hover:text-wiseSkin
  }

  .homepage-link-container {
    @apply
      font-lato 
      min-h-1/2 
      grid 
      grid-cols-1 
      md:grid-cols-2 
      lg:grid-cols-4 
      gap-16 
      mx-32 
      content-center 
      p-12
  }

  .homepage-link-item {
    @apply
      bg-wiseNavy 
      p-6 
      flex 
      flex-col 
      gap-4 
      shadow-sm 
      rounded-tl-2xl 
      rounded-sm 
      transition
      ease-in-out
      delay-75
      duration-300
      hover:shadow-2xl 
      hover:bg-linear-to-br
      hover:scale-105 
      hover:from-wiseNavy 
      hover:to-russianBlue/50 
      cursor-pointer
  }

    /* Styling for admin config forms */

  .admin-form-label {
    @apply
    font-semibold
  }

  .admin-form-control {
    @apply
      border-b
      border-wiseSkin
      outline-none
      p-1
      rounded-t-sm
      transition
      duration-150
      ease-in-out
      hover:scale-105
      hover:bg-wiseSkin/20
      focus:scale-105
      focus:bg-wiseOffWhite
      focus:text-bgMain
  }

  .admin-form-button {
    @apply
    cursor-pointer
    w-19/40
    p-1
    bg-wiseSkin
    text-lg
    font-normal
    transition
    duration-200
    hover:bg-bgMain
    hover:text-wiseDarkPink
    hover:outline
    hover:outline-offset-2
    hover:outline-wiseSkin
  }

   /* THIS IS FOR THE DASHBOARD PAGES*/

  @font-face {
    font-family: wise-fonts;
    src: url("/assets/wise_fonts.woff2") format("woff2");
  }
}


@theme {

  /* WISE COLORS */
  --color-nearBlack: #040300;
  --color-bgMain: #0F1225;
  --color-wiseNavy: #161E3F;
  --color-russianBlue: #444B65;
  --color-wiseDarkPink: #C46565;
  --color-wiseSkin: #E59998;
  --color-ultMutePink: #F4C1C1;
  --color-wisePaleGrey: #E7E8EC;
  --color-wiseOffWhite: #fffdf9;

  /* WISE FONTS */
  --font-roboto: "Roboto", sans-serif;
  --font-lato: "Lato", sans-serif;
  --font-wise: "wise-fonts", sans-serif;
}

