@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";
@tailwind utilities;

@layer utilities {

  /* THIS IS FOR THE REGISTRATION/LOGIN PAGES*/
  .form-label {
    @apply text-wiseOffWhite 
    text-base 
    font-semibold 
    font-lato 
  }

  .form-control {
    @apply 
      text-wiseOffWhite
      p-1
      border-b 
      border-wiseSkin 
      font-lato
      rounded-sm
      hover:bg-wiseSkin/20
      hover:shadow-xl/50
      focus:shadow-xl/100
      focus:bg-wiseSkin/20 
      focus:outline-wiseDarkPink
  }

  .register-login-components {
    @apply h-screen 
      bg-bgMain 
      flex 
      justify-center 
      items-center 
      bg-[url('../../../public/assets/wise_people_grid_3.webp')] 
      bg-contain
      relative
  }

  .nav-item {
    @apply 
      text-wiseOffWhite
        font-lato
        font-bold
        relative
        text-2xl 
        after:bg-wiseDarkPink 
        after:absolute 
        after:h-1 
        after:w-0 
        after:bottom-0 
        after:left-0 
        hover:after:w-full 
        after:transition-all 
        after:duration-300 cursor-pointer
  }

   /* THIS IS FOR THE DASHBOARD PAGES*/

  @font-face {
    font-family: wise-fonts;
    src: url("/assets/wise_fonts.woff2") format("woff2");
  }
}


@theme {

  /* WISE COLORS */
  --color-nearBlack: #040300;
  --color-bgMain: #0F1225;
  --color-wiseNavy: #161E3F;
  --color-russianBlue: #444B65;
  --color-wiseDarkPink: #C46565;
  --color-wiseSkin: #E59998;
  --color-ultMutePink: #F4C1C1;
  --color-wisePaleGrey: #E7E8EC;
  --color-wiseOffWhite: #F2F2F2;

  /* WISE FONTS */
  --font-roboto: "Roboto", sans-serif;
  --font-lato: "Lato", sans-serif;
  --font-wise: "wise-fonts", sans-serif;
}

