@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";
@tailwind utilities;
@plugin "@tailwindcss/typography";

@layer utilities {

  /* THIS IS FOR THE REGISTRATION/LOGIN PAGES*/
  .form-label {
    @apply text-wiseOffWhite 
    text-base 
    font-semibold 
    font-lato 
  }

  .form-control {
    @apply 
      text-wiseOffWhite
      p-1
      border-b 
      border-wiseSkin 
      font-lato
      hover:bg-wiseSkin/20
      hover:shadow-xl/50
      focus:shadow-xl/100
      focus:bg-wiseSkin/20 
      focus:outline-wiseDarkPink
  }

  .register-login-components {
    @apply h-screen 
      bg-wiseNavy5 
      flex 
      justify-center 
      items-center 
      bg-contain
      relative
  }

  .form-dropDown-button {
    @apply
      cursor-pointer 

      relative
      w-full
      p-2 

      text-bgMain 
      font-bold 
      text-lg

      before:transition-all
      before:delay-75
      before:duration-300
      before:ease-in-out
      before:absolute
      before:inset-0
      before:bg-linear-to-t
      before:from-wiseSkin/30
      before:from-10%
      before:to-wiseOffWhite
      before:opacity-0

      transition 
      delay-75 
      duration-300
      ease-in-out
      hover:border-b 
      hover:border-wiseGrey4 
      hover:before:opacity-100
  }

  .nav-item {
    @apply 
      text-wiseOffWhite
        font-lato
        font-bold
        relative
        text-2xl 
        cursor-pointer
        transition
        delay-75
        duration-200
        hover:scale-115
        hover:text-wiseSkin
  }

  .homepage-link-container {
    @apply
      font-lato 
      min-h-1/2 
      grid 
      grid-cols-1 
      md:grid-cols-2 
      lg:grid-cols-4 
      gap-16 
      mx-32 
      content-center 
      p-12
  }

  .homepage-link-item {
    @apply
      bg-wiseNavy 
      p-6 
      flex 
      flex-col 
      gap-4 
      shadow-sm 
      rounded-tl-2xl 
      rounded-sm 
      transition
      ease-in-out
      delay-75
      duration-300
      hover:shadow-2xl 
      hover:bg-linear-to-br
      hover:scale-105 
      hover:from-wiseNavy 
      hover:to-russianBlue/50 
      cursor-pointer
  }

    /* Styling for admin config forms */

  .admin-form-label {
    @apply
    font-semibold
  }

  .admin-form-control {
    @apply
      bg-wiseNavy4/15
      border-b
      border-wiseSkin
      outline-none
      p-1.5
      transition
      duration-150
      ease-in-out
      hover:bg-wiseSkin/35
      focus:scale-101
      focus:outline-wiseRose1
      focus:text-wiseGrey1
  }

  .admin-form-button {
    @apply
    cursor-pointer
    w-19/40
    p-1
    bg-wiseRose3
    text-lg
    font-normal
    transition
    duration-200
    hover:bg-bgMain
    hover:text-wiseDarkPink
    hover:outline
    hover:outline-offset-2
    hover:outline-wiseSkin
  }

  .button1-no-width {
    @apply
    cursor-pointer
    p-0.5
    bg-wiseRose3
    text-lg
    font-normal
    transition
    duration-200
    hover:bg-bgMain
    hover:text-wiseDarkPink
    hover:outline
    hover:outline-offset-2
    hover:outline-wiseSkin
  }

  .button1-loading {
    @apply
    cursor-not-allowed
    p-0.5
    bg-wiseGrey3
    text-lg
    font-normal
    transition
    duration-200
  }

  .button2-no-width {
    @apply
    cursor-pointer
    p-0.5
    bg-wiseGrey4
    text-lg
    font-normal
    transition
    duration-200
    hover:bg-wiseGrey3
    hover:text-wiseGrey5
    hover:outline
    hover:outline-offset-2
    hover:outline-wiseNavy3
  }

  .page-number-button {
    @apply
    cursor-pointer
    p-1
    mx-1
    mb-1
    text-lg
    text-wiseRose3
    underline
    font-normal
    transition
    duration-200
    hover:text-wiseRose1
  }

  .page-number-button2 {
    @apply
    cursor-pointer
    p-1
    justify-end
    text-sm
    text-wiseRose3
    underline
    font-normal
    transition
    duration-200
    hover:text-wiseRose1
  }

  .dashboard-view-link {
    @apply
      cursor-pointer
      ml-10 
      font-lato 
      font-medium
      underline
      underline-offset-6
      w-3/4
      rounded-sm
      transition-all
      delay-75
      duration-200
      hover:text-wiseDarkPink
  }


   /* THIS IS FOR THE DASHBOARD PAGES*/

  @font-face {
    font-family: wise-fonts;
    src: url("/assets/wise_fonts.woff2") format("woff2");
  }
}


@theme {

  /* WISE COLORS */

  /* Supporting Greys */
  --color-wiseGrey1: #040300;
  --color-wiseGrey2: #363532;
  --color-wiseGrey3: #686764;
  --color-wiseGrey4: #CDCBC7;
  --color-wiseGrey5: #fffdf9; 

  /* Legacy variable  */
  --color-wiseOffWhite: #fffdf9;  
  --color-wisePaleGrey: #E7E8EC;

  /* Heritage Rose Shades */
  --color-wiseRose1: #A73F3F;
  --color-wiseRose2: #C46565;
  --color-wiseRose3: #EC9797;
  --color-wiseRose4: #F4C1C1;
  --color-wiseRose5: #F9E0E0; 

  /* Legacy variable  */
  --color-wiseDarkPink: #C46565;
  --color-wiseSkin: #EC9797;
  --color-ultMutePink: #EC9797;

  /* Nightfall Navy Shades */
  --color-wiseNavy1: #0D1226;
  --color-wiseNavy2: #161E3F;
  --color-wiseNavy3: #444B65;
  --color-wiseNavy4: #A1A4B2;
  --color-wiseNavy5: #E7E8EC;

  /* Legacy variable  */
  --color-bgMain: #0D1226;
  --color-wiseNavy: #161E3F;
  --color-russianBlue: #444B65;



  
  
  

  

  /* WISE FONTS */
  --font-roboto: "Roboto", sans-serif;
  --font-lato: "Lato", sans-serif;
  --font-wise: "wise-fonts", sans-serif;
}

